# Exclude everything
/*

# Except for default project files
!/.github
!/build-aux
!/cmake
!/docs
!/data
!/src
!/tests
!/scripts
!/release
/release/IRLSAFETY+-*
!.clang-format
!.gersemirc
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md
!CREDITS.md
!THIRD_PARTY_NOTICES.md

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
